@{
    ViewData["Title"] = "Index";
}

<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>
<h1 class="border border-1 text-center text-uppercase">Erroooooooooooooooooooor</h1>

