@model ActorViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5 text-light">
    <div class="row">
        <div class="col-md-4 px-5">
            <img class="w-100 border border-3 border-dark rounded" src="https://localhost:44383/StaticFiles/@Model.ActorImage" alt="">
        </div>
        <div class="col-md-8 px-5 py-2">
            <h2 class="mb-4  rounded py-2">
                @Model.Name
            </h2>
            <div class=" rounded py-3">
                <p class="fw-semibold fs-5 py-2">Biography</p>
                <p class="px-1 text-muted">@Model.Biography</p>
            </div>
            <div>
                @if (Model.Movies.Count > 0)
                {
                    <p class="fw-semibold fs-5 py-2 rounded">Known For</p>
                    <div class="">
                        <div class="row">
                            @foreach (var Movie in Model.Movies)
                            {
                                <a class="text-decoration-none col-3" asp-action="Details" asp-controller="UserHome" asp-route-id="@Movie.Id">
                                    <img src="https://localhost:44383/StaticFiles/@Movie.Poster" class="w-100 rounded pointer" alt="">
                                </a>
                            }
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>
